body {
            background-color: black;
        }

        svg {
            margin-left:100px;
            background-color: #fff;
        }
        text {
            font-family:Calibri;
        }