body{
    background: url("pics/grass.jpg")no-repeat center center fixed;

}

#container{
    width: 550px;
    height: 550px;
    border-radius: 20px;
    background-color: #2a1232;
    position: relative;
    left: 380px;
    top: 50px

}
img{
    padding: 20px;
    width: 70px;
    height: 60px;
}

#left-img{
    float: left;
}
#right-img{
    float: right;
}
#title{
    font-family: "Helvetica Neue"
    text-align: center;
    font-weight: bold;
}
p{
    font-size:20px;
    color: #4bff33;
    font-weight: bold;
    font-style: italic;
}
#info{
    padding:0 50px;
}
#high-scores {
    float: right;
    height: 300px;
    width: 200px;
    margin-right: 30px;
    overflow: auto;
    border: 1px solid royalblue;
    border-radius: 10px;
}
#clear-btn{
    margin-top: 200px;
    margin-left: 50px;
    cursor:pointer;
}
h4{
    color: #ff0200;
    padding-left: 50px;
}
input {
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    color: darkblue;
}
h2 {
    margin-left: 50px;
}

#number-container,#name-container,#play-btn {
    position: absolute;
    top: 300px;
    margin-left: 50px;

}
h2,h1{
    padding-top: 50px;
    color: #ffc07f;
}
h1{
    color: #5cbbff;
    text-align: center;
}
#check-btn,#submit-btn,#play-btn,#clear-btn{
    border-radius: 20px;
    background-color: #ff400b;
    color: #020205;
    cursor:pointer;
}
#check-btn:hover,#submit-btn:hover,#play-btn:hover,#clear-btn:hover{
    opacity: 0.8;
    color:gray;

}
#number-container,#name-container{
    display: none;
}
#clear-btn{
    position: absolute;
    bottom:10px;
    left:300px;
}
#sheep,#rams {
    width: 200px;
}
#scores{
    padding: 15px;
    color: #841ea9;
}